.admin-view-slots-container {
  display: flex;

  grid-area: main;
  
  justify-content: center;
  align-items: center;

  overflow: auto;

  background: #E4F0FB;
}

.admin-view-slots-content {
  height: 95%;
  width: 95%;
  margin-top: 15px;
  margin-bottom: 30px;

  align-items: center;
  justify-items: center;

  padding: 30px;

  border-radius: 8px;

  background: #ffffff;

}

.admin-view-slots-content h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

.admin-view-slots-content a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  transition: opacity 0.2s;
}

.admin-view-slots-content a:hover {
  opacity: 0.5;
}

.admin-view-slots-content svg {
  margin-right: 10px;
}


.admin-view-slots-content ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  
  margin-top: 25px;
  margin-bottom: 60px;
  
  list-style: none;
  
  border-radius: 8px;

}

.admin-view-slots-content ul li {
  background: #CDE3F5;
  padding: 10px;

  border: 1px solid #5f6670;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    'field1 field2 field3 field4 field5'
  ;

  align-items: center;
  justify-items: start;

  transition: opacity 0.4s;
}

.admin-view-slots-content ul li:hover {
  opacity: 0.7;
}

.admin-view-slots-content ul li strong {
  font-size: 17px;
  margin-bottom: 5px;
}

.admin-view-slots-content ul li p {
  font-size: 18px;
  color: #5f6670;
}






