.new-booking-container {
  height: 100%;
  grid-area: mainContent;
  display: flex;
  justify-content: center;

  background: url('../../../assets/pub-counter-cropped-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  overflow: auto;
}

.new-booking-content {
  height: 89vh;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;

  border-radius: 8px;

  align-items: center;

  background: #ffffff;  
}

.new-booking-content h1 {
  font-size: 38px;
  margin-left: 30px;
  margin-top: 25px;
}

.new-booking-content a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
  transition: opacity 0.2s;
}

.new-booking-content a:hover {
  opacity: 0.5;
}

.new-booking-content svg {
  margin-left: 30px;
  margin-right: 8px;
}

.new-booking-content form {
  font-size: 21px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 30px;
  margin-right: 30px;
}

.new-booking-content form p {
  font-size: 21px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #41414d;
}

.new-booking-content form input {
  width: 100%;
  height: 40px;
  color: #41414d;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 12px;
  font-size: 16px;
  margin-bottom: 15px;
}

.new-booking-content .available-slots {
  margin-top: 20px;
}

.new-booking-content .secondary-button {
  width: 22%;
  height: 36px;

  border: 2px solid #ff6054;
  border-radius: 8px;
  background: #FFF;

  font-weight: 700;
  font-size: 21px;
  color: #ff6054;

  text-align: center;
  text-decoration: none;

  cursor: pointer;

  transition: filter 0.2s;
}

.new-booking-content .secondary-button:hover {
  filter: brightness(90%);
}

.new-booking-container .secondary-button:disabled {
  background: rgb(190, 190, 190);
  color: #f0f0f5;
  cursor: not-allowed;
  border-color: #000;
}

.new-booking-content .slot-button {
  padding: 3px;
  width: 18%;
  height: 55px;
  margin: 7px;

  border-radius: 8px;
  background: #ff6054;

  font-weight: 700;
  font-size: 18px;
  color: #FFF;

  text-align: center;
  text-decoration: none;

  cursor: pointer;

  transition: filter 0.2s;
}

.new-booking-content .slot-button:hover {
  filter: brightness(90%);
}

.new-booking-container .slot-button:focus {
  background:#b5443c;
}

.new-booking-container .slot-button:active {
  position:relative;
	top:1px;
}

.new-booking-content .primary-button {
  width: 25%;
  height: 50px;
  margin-top: 35px;

  border: 2px solid #000;
  border-radius: 8px;
  border-color: #000;
  
  font-weight: 700;
  font-size: 24px;
  color: #000;

  text-align: center;
  text-decoration: none;
  background: #FFF;

  cursor: pointer;

  transition: filter 0.2s;
}

.new-booking-content .primary-button:hover {
  filter: brightness(90%);
}

.new-booking-container .primary-button:disabled {
  background: rgb(190, 190, 190);
  color: #f0f0f5;
  cursor: not-allowed;
}




