.bookings-container {
  height: 100%;
  width: 100%;
  grid-area: mainContent;
  display: flex;
  justify-content: center;

  background: url('../../../assets/pub-counter-cropped-blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bookings-content {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;

  padding: 30px;

  border-radius: 8px;

  align-items: center;
  justify-items: center;

  background: #ffffff;

  overflow: auto;
}

.bookings-content h1 {
  font-size: 38px;
}

.bookings-content h3 {
  font-weight: 400;
  margin-top: 35px;
  font-size: 24px;
}

.bookings-content a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin: 5px;
  transition: opacity 0.2s;
}

.bookings-content a:hover {
  opacity: 0.5;
}

.bookings-content svg {
  margin-left: 10px;
}


.bookings-content ul {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  list-style: none;
  margin-bottom: 25px;
  align-items: center;
}

.bookings-content ul li {
  background: #fff5f5;
  padding: 24px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
}

.bookings-content ul li strong {
  font-size: 16px;
  margin: 7px;
}

.bookings-content ul li p {
  font-size: 17px;
}

.bookings-content ul li button {
  position: flex;
  background: transparent;
  max-width: 2px;
  border: 0;
  margin-top: 10px;
  margin-left: 0px;
  cursor: pointer;
}

.bookings-content ul li button:hover {
  opacity: 0.8;
}






