.admin-view-bookings-container {
  display: flex;

  grid-area: main;
  
  justify-content: center;
  align-items: center;

  overflow: auto;

  background: #E4F0FB;
}

.admin-view-bookings-content {
  height: auto;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 30px;

  align-items: center;
  justify-items: center;

  padding: 30px;

  border-radius: 8px;

  background: #ffffff;

}

.admin-view-bookings-content h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

.admin-view-bookings-content a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  transition: opacity 0.2s;
}

.admin-view-bookings-content a:hover {
  opacity: 0.5;
}

.admin-view-bookings-content svg {
  margin-right: 10px;
}


.admin-view-bookings-content ul {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  list-style: none;
  margin-bottom: 25px;
  align-items: center;
}

.admin-view-bookings-content ul li {
  background: #CDE3F5;
  padding: 24px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
  transition: opacity 0.4s;
}

.admin-view-bookings-content ul li:hover {
  opacity: 0.7;
}

.admin-view-bookings-content ul li strong {
  font-size: 16px;
  margin: 7px;
}

.admin-view-bookings-content ul li p {
  font-size: 17px;
}

.admin-view-bookings-content ul li button {
  position: flex;
  background: transparent;
  max-width: 2px;
  border: 0;
  margin-top: 10px;
  margin-left: 0px;
  cursor: pointer;
}

.admin-view-bookings-content ul li button:hover {
  opacity: 0.8;
}






